@font-face {
    font-family: "Shabnam";
    src: url("../assets/fonts/Shabnam-FD.eot");
    src: url("../assets/fonts/Shabnam-FD.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Shabnam-FD.woff") format("woff"), url("../assets/fonts/Shabnam-FD.ttf") format("truetype");
    font-weight: normal;
  }
  
  @font-face {
    font-family: "Shabnam";
    src: url("../assets/fonts/Shabnam-Bold-FD.eot");
    src: url("../assets/fonts/Shabnam-Bold-FD.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Shabnam-Bold-FD.woff") format("woff"), url("../assets/fonts/Shabnam-Bold-FD.ttf") format("truetype");
    font-weight: bold;
  }
  
  @font-face {
    font-family: "Shabnam";
    src: url("../assets/fonts/Shabnam-Light-FD.eot");
    src: url("../assets/fonts/Shabnam-Light-FD.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/Shabnam-Light-FD.woff") format("woff"), url("../assets/fonts/Shabnam-Light-FD.ttf") format("truetype");
    font-weight: 300;
  }
  
  body {
    margin: 0;
    font-family: Shabnam, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: right;
    direction: rtl;
  }

  @import './Navbar.scss';
  @import './LandingPage.scss';
  @import './InsurancesPanel.scss';
  @import './modals.scss';
  @import './Form.scss';
  @import './Buttons.scss';
  @import './Carousel.scss';
  @import './MultiSelect.scss';
  @import './MotorcyclePage.scss';